/* MEDIA QUERIES FOR RESPONSIVE DESIGN */
/* Desktop */
@media screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
}

/* TABLET DESIGN (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .desktop {
    display: none;
  }

  .menu-links li{
    font-size: 0.8rem;
  }

  .menu-links li:hover{
    cursor: pointer;
    color: rgb(0, 102, 255);
  }

  body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
  }

  p{
    font-size: 3vw;
  }
  
  /* Navigation */
  #desktop-nav {
    display: none;
  }

  .logo {
    width: 15vw;
  }

  #hamburger-nav {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5vw;
    height: 8vh;
  }

  /* Profile section */
  #profile {
    flex-direction: column;
    height: auto;
    margin: 0 2rem;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 5rem;
  }

  .hamburger-icon{
    width: 8vw;
    height: 5vw;
  }

  .section__pic-container {
    justify-content: center;
    width: 100%;
  }

  .profile-pic {
    height: auto;
    width: 40%;
    /* max-width: 350px; */
  }
  
  .section__text {
    margin: 2rem 0;
    width: 80%;
    text-align: center;
    align-items: center;
    align-self: center; 
  }

  .home-title {
    font-size: 13vw;
  }

  .home-text {
    font-size: 2.7vw;
  }

  .stats-container {
    margin: 2rem auto;
    gap: 1vw;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Partners section */
  #partners {
    height: auto;
    padding: 2rem 1rem 0 1rem;
  }

  /* Who-are-we section */
  #who-are-we {
    height: auto;
    margin-top: 5rem;
    width: 90%;
  }

  .waw-details-container {
    flex-direction: column;
    height: auto;
  }

  .menu-right{
    gap: 3vw;
  }

  .join-us{
    font-size: 2.2vw;
    padding: 2vw 3vw;
  } 

  .waw-left {
    width: 90%;
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }

  .waw-right {
    width: 60%;
    margin-bottom: 2rem;
  }


  /* Team section */
  #team {
    height: auto;
  }

  .team-container {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .team-member {
    max-width: 70%;
    width: 80%;
    display: flex;
    padding: 1rem;
  }

  .team-member p{
  }

  .team-member img {
    width: 13vw;
    height: 13vw;
  }

  .team-member h4 {
    font-size: 1.5vw;
  }

  /* Footer section */
  #footer {
    height: auto;
    width: 90%;
    padding-bottom: 1vh;
    margin-bottom: 5vh;
  }

  #footer h3{
    font-size: 2.7vw;
  }

  #footer p{
    font-size: 1.95vw;
  }

  .footer-box {
    width: 90%;
    padding: 2rem;
    /* flex-direction: column; */
    gap: 2rem;
  }

  .footer-column.left,
  .footer-column.right {
    width: 100%;
  }

  .social-icons {
    width: 100%;
    justify-content: start;
    gap: 0.5rem;
  }

  .social-icons svg{
    width: 3vw;
    height: 3vw;
  }
}

/* MOBILE DESIGN (max-width: 767px) */
@media screen and (max-width: 767px) {
  /* Profile section */
  #profile {
    width: 100%;
    margin: 0;
    margin-bottom: 3rem;
  }

  .profile-pic {
    width: 65vw;
  }

  .section__text {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #learn-more{
    font-size: 1.7vw;
  }
  

  .stats-container {
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
  }

  .stat {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 30vw;
    gap: 0rem;
    justify-content: end;
  }

  .stat h3 {
    font-size: 1.9rem;
  }
  .stat p {
    font-size: 0.75rem;
  }

  .stat h3, .stat p {
    margin: 0;
    padding: 0;
  }  

  /* Who-are-we section */
  #who-are-we {
    width: 95%;
  }

  .waw-left {
    width: 100%;
    font-size: 1rem;
  }

  .waw-right {
    width: 80%;
  }

  /* Services section */
  #services {
    width: 90%;
  }

  .service-item-row img {
    width: 13vw;
    height: 13vw;
  }

  #services h3 {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }
  #services p {
    font-size: 0.6rem;
    margin: 0.4rem 0 0.4rem 0;
  }

  /* Team section */
  .team-member {
    width: 85vw;
    padding: 0.8rem 0.8rem 0 0.8rem;
  }

  .team-member-row {
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    gap: 0.4rem;
  }

  .member-details {
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .team-member img {
    width: 5vw;
    height: 5vw;
  }

  .team-member h4 {
    font-size: 0.8rem;
    margin: 0;
  }

  .team-member p {
    font-size: 0.6rem;
    margin: 0;
  }

  /* Footer section */
  .footer-box {
    width: 95%;
    padding: 1.5rem;
  }
}

/* SMALL MOBILE PHONES (max-width: 480px) */
@media screen and (max-width: 480px) {

  .desktop {
    display: none;
  }
  /* Global adjustments */
  .title {
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
  }

  /* Profile section */
  #profile {
    margin-bottom: 2rem;
  }

  #home-title {
    font-size: 2rem;
  }

  #home-text {
    font-size: 0.9rem;
  }

  .btn{
    font-size: 2vw;
    padding: 1vw 3vw;
  } 


  .learn-more {
    padding: 0.45rem 1.8rem;
    font-size: 2vw;
    width: auto;
  }

  /* WHO ARE WE */

  #who-are-we {
    margin-top: 2rem;
    width: 90%;
    height: auto;
  }

  .waw-right{
    margin-top: 2.5vh;
    width: 100%;
  }

  .waw-users-image{
    width: 12vh;
  }

  /* Services section */
  #services h3 {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }
  #services p {
    font-size: 0.6rem;
    margin: 0.4rem 0 0.4rem 0;
  }

  .service-item-row img {
    width: 13vw;
    height: 13vw;
  }

  /* Team section */
  .team-member img {
    width: 13vw;
    height: 13vw;
  }

  /* Footer box */
  .footer-box {
    padding: 1rem;
  }
}