#service-details {
    position: relative;
    height: max-content;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* padding: 6rem 15rem; */
  }

  #service-details h3{
    /* color primary */
    color: rgb(0, 102, 255);
    /* font size 3rem */
    font-size: 1rem;
    /* font family Anton SC*/
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.service-img{
    width: 45%;
    height: 100%;
}

#icon{
    width: 4rem;
}
  
.service-column{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
}

.service-main-row{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    margin-top: 1rem;
    height: 80%;
    width: 90%;
    gap: 1rem;
  }

  
  .service-column p {
    margin: 0;
    padding: 0;
  }

  .title-secondary {
    font-size: 1.3rem;
    text-align: center;
    font-family: "Anton", sans-serif;
    color: rgb(0, 102, 255);
    margin-top: 1rem;
  }

  .service-details-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 80%;
  }
  
  .service-details-item{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space;
    align-items: center;
    background-color: rgb(240, 246, 255);
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 0;
  }
  
  .service-details-item-text{
    width: 100%;
    font-size: 0.6rem;
    /* color third */
    color: rgb(21, 59, 116);
    font-weight: 100;
    font-family: "Roboto";
    font-weight: 500;
    padding-left: 2rem;    
  }
  
  .service-details-item-box{
    /* padding: 0.5rem 1rem; */
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgb(0, 102, 255);
    color: white;
    font-size: 1rem;
    font-family: "Anton", sans-serif;
    transform: translate(-50%, -100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-shrink: 0;
  }

  .service-column p {
    font-size: 0.8rem;
    color: rgb(21, 59, 116);
    font-weight: 100;
    font-family: "Roboto";
    font-weight: 300;
  }
  

  